main {
    padding: 10px 30px;
}
.infoButton {
    width: 100%;
    max-width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.input::focus {
    outline: none;
    border: none;
}

.csv {
    display: flex;
    background: aliceblue;
    border-radius: 1rem;
}
